/* LABEL */

.label{
    display: block;
    margin-bottom: 0.5rem;
    color: var(--very-dark);
    animation: pop-in 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
/* CONTAINER */
.group{
    display: inline-flex;
    flex-direction: row;
    align-content: stretch;
    width: 100%;
    animation: pop-in 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.group *{
    border-radius: 0;
}

.group *:not(:first-child){
    border-left: none;
}
.group *:first-child{
    border-radius: 5px 0 0 5px;
}

.group *:last-child{
    border-radius: 0 5px 5px 0; 
}

.group *:only-child{
    border-radius: 5px;
}

/* INPUTS */

.button, .input{
    flex: 1;
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
    background-color:var(--bright) ;
    border:2pt solid var(--dark);
    font-size: 13pt;
    text-align : center;
    outline-style: none;
}
.input{
    min-width: 0px;
    color: var(--very-dark);
    caret-color: var(--very-dark);
    box-shadow: inset 0 0 5px var(--medium);
    
}


  
  .input::selection {
    color: var(--bright);
    background:var(--dark);
  }

.button{
    height: 40px;
    flex:1;
    padding-left: 20px;
    padding-right: 20px;
    color:var(--very-dark);
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.button-fit{
    flex:0;
}
.button-selected{
    background-color: var(--dark);
}
.button:not(.button-selected){
    box-shadow: inset 0 0 5px var(--medium);
    cursor: pointer;


}
.button:hover:not(.button-selected){
    background-color:var(--medium);
    font-size: 16pt;
}

.button:hover:not(.button-fit,.button-selected){
    flex:1.2;
}

