.nav{
    border-radius: 5px;
    color: var(--very-dark);
    animation: pop-in 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav:not(.nav-vertical) .nav-item{
    padding: 10px 20px 10px 20px;
    font-size: 15pt;
    display: inline-block;
    border-radius: 5px;
    margin:8px;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 0.2s ease-in-out;
    
}
.nav-vertical .nav-item{
    padding: 10px 20px 10px 20px;
    font-size: 15pt;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin:10px;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 0.2s ease-in-out;
}

.nav-item:not(.nav-item-selected)
{
    cursor: pointer;    
}
.nav-item:hover:not(.nav-item-selected){
    background-color: var(--medium);
    transform: scale(1.1);
}
.nav-item-selected{
    background-color: var(--dark);
    font-size: 15pt;
    
}